<div>
    <section>
        <h1>Welcome!</h1>
        <h1>
            Thank you for coming to my TaylorTalk! 😊
        </h1>
        <br>
        <h1>My name is Taylor King</h1>
        <h1>
            Been a developer @ Aya for 1 year
            <small style="font-size: 14px;">
                <em>(on Aug 2nd)</em>
            </small>
        </h1>
        <br>
        <h1>What are we here to talk about?</h1>
    </section>

    <section>
        <h1>We're here to talk about forms!</h1>
        <h1>
            It's kind of like paperwork, but you build it 😆
        </h1>
        <br>
        <h1>Super exciting!</h1>
        <br>
        <h1>Ok... not really...</h1>
    </section>

    <section>
        <h1>
            Forms are usually pretty boring. Kind of hard... Error prone...
        </h1>
        <h1>
            We've all seen extensive, multi-page forms before
        </h1>
        <h1>You might have even written some 😅</h1>
    </section>

    <section>
        <h1>
            Angular mainly uses Template driven and Reactive forms (reactive being best practice)
        </h1>
        <br>
        <h1>
            This is good, but usually means a lot of typing and setup
        </h1>
        <br>
        <h1>
            Gotta hook up each formControlName in HMTL to its respective formGroup field
        </h1>
        <br>
        <h1>
            Would be nice if we could just use the model to generate the form for us...
        </h1>
    </section>

    <section>
        <br>
        <h1 style="font-size: 48px;">FORMLY ⭐️</h1>
    </section>

    <section>
        <h1>3 Main Parts</h1>
        <h1>Field Configs, Data Model and Form</h1>

        <img
            src="../assets/Formly_Demo.svg"
            alt="Formly Demo"
        >
    </section>

    <section>
        <h1>2 Main Libraries</h1>
        <h1>Formly Core & UI</h1>
        <h1>Material, Bootstrap, Ionic, etc.</h1>
        <br>
        <h1>(We use Material UI... mostly)</h1>
    </section>

    <section>
        <h1>DEMO TIME 🤞🚀</h1>
    </section>
</div>
