<div>
    <section>
        <h1>Welcome!</h1>
        <h1>My name is Taylor King.</h1>
        <h1>
            Been a developer @ Aya for 1 year (on Aug 2nd)
        </h1>
    </section>

    <section>
        <h1>Lets talk about forms!</h1>
        <h1>Super exciting!</h1>
        <h1>Ok... not really...</h1>
    </section>

    <section>
        <h1>
            Forms are usually pretty boring, kind of hard and error prone.
        </h1>
        <h1>
            You've all seen extensive, multi-page forms before. You might have even written some before 😅
        </h1>
    </section>

    <section>
        <h1>
            Angular uses Template driven and Reactive forms (reactive being best practice)
        </h1>

        <h1>
            This is good, but usually means lots of typing and setup.
        </h1>

        <h1>
            Gotta hook up each formControlName in HMTL to its respective formGroup field.
        </h1>

        <h1>
            Would be nice if we could just use the model to generate the form for us...
        </h1>
    </section>

    <section>
        <br>
        <h1 style="font-size: 48px;">FORMLY ⭐️</h1>
    </section>

    <section>
        <h1>Has 3 Main Parts</h1>
        <h1>Fields, Model and Form</h1>

        <img
            src="../assets/Formly_Demo.svg"
            alt="Formly Demo"
        >
    </section>
</div>
